.container-app {
  margin: 40px 50px;
}
/* Navbar CSS */
.m-navbar {
  margin: 0 20px;
}
.activeNav {
  text-decoration-line: overline;
}

/* Detail CSS */
.price {
  font-size: 25px;
}
.btn-show-detail {
  border-color: rgb(53, 168, 245);
  color: rgb(53, 168, 245);
}
.btn-show-detail:hover {
  border-color: rgb(240, 245, 248) !important;
  color: rgb(235, 246, 254) !important;
  background-color: rgb(41, 163, 245) !important;
}
.sin-stock {
  color: red;
  font-size: 15px;
}
.pd-detail-row {
  padding: 0px 30px 20px;
}
.m-arrow-left {
  margin: 20px;
}
.row-detail {
  padding: 30px 20px;
}
.container-selected {
  display: flex;
  justify-content: space-between;
}
.container-selected select {
  width: 49%;
}
/* Mensaje de advertencia  */

.min-heigth {
  min-height: 20px;
}
.msj-advertencia {
  color: red;
  font-size: 12px;
}

/* Card Css */
.img-card {
  padding: 10px;
}
.bg-card {
  background-color: rgb(240, 245, 248);
}

/* Spinner CSS */
.container-spinner {
  display: flex;
  width: 100%;
  justify-content: center;

  height: 100vh;
  align-items: center;
}

.spinner {
  width: 25px;
  height: 25px;
  margin: 0 10px;
  background-color: rgb(150, 149, 149);
}

/* Carrito CSS */
.container-carrito {
  background-color: rgb(136, 213, 248);
  padding: 5px 12px;
  border-radius: 6px;
  min-height: 40px;
}
.container-carrito span {
  background-color: rgb(53, 168, 245);
}

/* Boton Carrito en Detail */
.btn-add-card {
  font-weight: 500;
  padding: 15px;
  min-width: 210px;
  box-shadow: 0 0 0 0 rgb(0, 0, 0, 0.5);
}
.btn-add-card:hover {
  font-weight: 500;
  box-shadow: 0 0 0 0 rgb(0, 0, 0, 0.5);
  animation-name: pulse-btn;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.pulse {
  font-weight: bolder;
  padding: 15px;
  min-width: 210px;
  box-shadow: 0 0 0 0 rgb(0, 0, 0, 0.5);
  border: none;
  animation-name: pulse;
  animation-duration: 3s;
  border-radius: 5px;
  animation-iteration-count: infinite;
}

/* Detail Link */
.link-go-back {
  font-weight: 500;
  text-decoration: none;
  color: rgb(11, 167, 229);
  padding: 0 50px 20px;
}

@keyframes pulse {
  0% {
    color: rgb(14, 14, 14);
    background-color: rgb(199, 238, 245);
  }
  30% {
    color: rgb(68, 68, 69);
    background-color: rgb(133, 235, 244);
  }
  100% {
    color: rgb(248, 252, 253);
    background-color: rgb(35, 220, 241);
  }
}
@keyframes pulse-btn {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgb(1, 200, 245);
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
  }
}

@media (max-width: 600px) {
  .container-app {
    margin: 0;
  }
  .img-card {
    padding: 40px;
  }
  .m-navbar {
    margin: 0 0;
  }
  .bg-card {
    background-color: rgb(255, 255, 255);
  }
}
@media (min-width: 1200px) {
  .bg-card {
    width: 70%;
  }
  .container-card-responsive {
    display: flex;
    justify-content: center;
  }
}
