.container-app {
  margin: 40px 50px;
}
.price {
  font-size: 25px;
}
.btn-show-detail {
  border-color: rgb(53, 168, 245);
  color: rgb(53, 168, 245);
}
.btn-show-detail:hover {
  border-color: rgb(240, 245, 248) !important;
  color: rgb(235, 246, 254) !important;
  background-color: rgb(41, 163, 245) !important;
}
.sin-stock {
  color: red;
  font-size: 15px;
}
.pd-detail-row {
  padding: 0px 30px 20px;
}
.img-card {
  padding: 10px;
}
.m-navbar {
  margin: 0 20px;
}
.m-arrow-left {
  margin: 20px;
}
.row-detail {
  padding: 30px 20px;
  background-color: rgb(240, 245, 248);
  border-radius: 20px;
}

.activeNav {
  text-decoration-line: overline;
}

.container-selected {
  display: flex;
  justify-content: space-between;
}
.container-selected select {
  width: 49%;
}
.msj-advertencia {
  color: red;
  font-size: 12px;
}
.container-carrito {
  background-color: rgb(136, 213, 248);
  padding: 5px 12px;
  border-radius: 6px;
}
.container-carrito span {
  background-color: rgb(53, 168, 245);
}

/* .selectionDetailContainer {
  display: flex;
  cursor: pointer;
  margin: 10px 0;
}
.selectionDetailContainer spam {
  padding: 10px;
}

.activeSelectionDetail {
  background-color: rgb(139, 209, 253);
} */

@media (max-width: 600px) {
  .container-app {
    margin: 0;
  }
  .img-card {
    padding: 40px;
  }
}
